:root {
    --card-width: 200px;
}

body {
    background: linear-gradient(rgba(75, 75, 93, 0.85), rgba(75, 75, 93, 0.85)), url("https://templated.co/items/demos/projection/images/banner.jpg");
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    color: rgba(255, 255, 255, 0.89);
    font-family: 'Varela Round', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Varela Round', sans-serif;
}

p {
    font-family: 'Varela Round', sans-serif;
}

table,
th,
td {
    border: 1px solid rgba(255, 255, 255, 0.89);
    padding: 2px;
    color: rgba(255, 255, 255, 0.89);
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    position: relative;
    text-align: center;
}

nav a {
    margin: 10px;
    text-decoration: none;
    padding: 10px;
    transition: .7s;
    font-size: 2em;
}

.hero {
    color: rgb(9, 243, 9);
    font-size: 5em;
    background-color: transparent;
}

nav a:hover {
    background-color: rgb(9, 243, 9);
    color: black;
}

.sub-title {
    width: auto;
}

.card-container {
    width: 100%;
    height: auto;
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: var(--card-width);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.699);
    border-radius: 5px;
    margin: 2em;
}

.img {
    width: var(--card-width);
    height: 250px;
    object-fit: cover;
}

body,
html {
    height: 100%;
    margin: 0;
}

.logga {
    position: absolute;
    height: 200px;
    left: 0;
    top: 0;
}

table {
    border-spacing: 5px;
}

a {
    color: rgb(9, 243, 9);
}

a:visited {
    color: rgb(9, 243, 9);
}

img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

h1 {
    color: green;
    background-color: rgba(179, 179, 179, 0.555);
    font-size: 60px;
    text-align: center;
}

h2 {
    background-color: transparent;
    text-align: center;
}

h3 {
    text-align: center;
}

strong {
    font-size: 18px;
}

.large-text {
    font-size: 32px;
}

footer {
    background-color: transparent;
}

.tucslogga {
    height: 50px;
    width: 50px;
    float: right;
}

.border {
    border: 3px solid green;
    width: 60%;
    margin: 0 auto;
    margin-top: 5%;
    box-shadow: 10px 10px 10px green;
}

.move-right {
    float: right;
}

.table {
    width: 50%;
}

.scrumbild {
    border-radius: 20px;
    border-radius: 5px;
}

.lärdom div:nth-child(odd) {
    background-color: rgba(192, 192, 192, 0.555);
    color: black !important;
    padding: 15px;
}

.lärdom div:nth-child(even) {
    background-color: rgba(46, 46, 46, 0.555);
    padding: 15px;
}

.pmargin {
    margin: 20px;
}