

:root{
    --overlay-color:rgba(75, 75, 93, 0.85);
    --main-green: rgba(58,238,83,1);
    --main-text-white:rgba(255,255,255,.85);
    
}

*{
    margin:0;
    padding:0;
}

a,
body{
    color:var(--main-text-white);
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5{
    font-weight:100;
}

table,
th,
td {
    border: 1px solid black;
}

.animated-green{
    background: linear-gradient(to left, rgba(255,255,255,1) 15%, var(--main-green) 15%, var(--main-green) 66%, rgba(255,255,255,1) 66%)right;
    background-size:800%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: AnimationName 5s  infinite;
    
}

@keyframes AnimationName {
    100%{ background-position:left}
  }



/*global classes*/
.center{
    margin:0 auto;
}

.section-title{
    font-size: 6em;
}

.small-img{
    width:200px;
    height:auto;
}


/*///////////////*/


/* start of header css*/

.header{
    position:relative;
    height:70vh;
    width:100%;
    background: linear-gradient( var(--overlay-color),var(--overlay-color)), url('https://templated.co/items/demos/projection/images/banner.jpg');
    background-position:center top;
    background-size:cover;
    background-attachment: fixed;

    display:flex;
    flex-direction: column;
    align-items: center;
}

.nav{
    display:flex;
    justify-content: end;
    position:fixed;
    height:auto;
    width:100%;
}

.nav-container{
    width:100%;
    display:flex;
    justify-content: end;
    flex-wrap:wrap;
}

.nav a{
    font-size: 1.3em;
    text-decoration: none;
    padding:1em;
}

.introduction-container{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items:center;
    position:relative;
    top:20%;
}

.hero{
    font-size: 6em;
    border-bottom: .5px solid var(--main-text-white);
}

.sub-title{
    font-size: 2em;
    padding-top:20px;
}

.member-container{
    position:relative;
    top:5em;
    width:100%;
    text-align:center;
}

.name-list{
    list-style: none;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
}

.name-list li{
    font-size:1.5em;
    margin:15px;
    padding:10px;
    border-radius: 5px;
    transition:.5s;

}

.name-list li:hover{
    background-color:rgba(58,238,83, 0.7);
    cursor: pointer;
}

.bottom-shape{
    position: absolute; 
    bottom: 0; 
    
}

/* end of header css*/


/*start of main section*/



/*tools and method section*/

.tool-method-section{
    display: flex;
    flex-direction: column;
    align-items: center;

    height:auto;
    background: linear-gradient(40deg, rgba(75, 75, 93, 1) 50%,var(--overlay-color) 50%), url('https://www.1iz.net/data/media/7/New_York_Black_White_1920x1080.jpg');
    background-position:center top;
    background-size:cover;
    padding:2em;
    padding-bottom:10em;


}


.card-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width:100%;
    margin-top:8em;

    border-radius: 10px;
}

.card{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width:300px;
    height:350px;

    margin:2em;



}



.card-title{
    grid-area:image;
    position:relative;
    bottom:.5cm;
    
    font-size:4em;
}

.card-img{
    grid-area: title;
    position:relative;
    width:30%;
}



