body {
    background-color: black;
    padding: 0 20%;
}

table,
th,
td {
    border: 1px solid rgb(9, 243, 9);
    padding: 2px;
    color: rgb(9, 243, 9);
}

table {
    border-spacing: 5px;
}

a {
    color: rgb(9, 243, 9);
}

a:visited {
    color: rgb(9, 243, 9);
}

img {
    width: 300px;
    height: 300px;
}

h1 {
    color: green;
    font-style: Arial, serif;
}

h2,
h3 {
    color: rgb(9, 243, 9);
    font-style: Verdana, sans-serif, serif;
}

p,
li {
    color: rgb(17, 168, 17);
}

strong {
    font-size: 18px;
}

.large-text{
    font-size:60px;
}